/* RESERT */
*{
    margin: 0 ;
    box-sizing: border-box;
    padding: 0;
}   
ul,
ol, menu{
     list-style-type: none;
}
 
a{
    text-decoration: none;
    color: currentColor;
}
/* LAYOUT */
.app{
    width: 100%;
    background-color: rgb(95, 92, 93);
    height: 100vh;
    color: white;
    display: flex;
   

}


.app header{
    background-color: black;
    padding: 20px;
    width: 150px;
    flex-shrink: 0;
}
.app main{
    
    flex-grow: 1;
}
.app .section{
    padding: 20px;    
}
.row-col{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.row{
    display: flex;
    flex-wrap: wrap;
}
.col-6{
    width: calc(6 * 100% / 12);
}
.col-4{
    width: calc(4 * 100% / 12);
}
.btn{
    padding: 10px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: white;
    color: black;
}
.app .sub{
    height: 10vh;
    background-color: #333;
}

   
